{% extends 'main_ui.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display">
                Contact
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            This is a quick project made to preserve dhamma and meditation talks from <a href="https://culudasa.com">culudasa</a>.
            <br><br>
            Please feel free to contact me for any questions or feedback regarding this website, either
            on <a href="https://reddit.com/user/esquire900">reddit</a> or <a
                href="mailto:simon@simonnouwens.nl">email</a>. You can also directly look into or contribute to the
            <a href="https://github.com/esquire900/tmi-archive">source code</a>.
        </div>
    </div>


{% endblock %}
