{% extends 'main_ui.html' %}
{% load static %}
{% block content %}
    <h2 class="display pt-2 pb-2">Playlists</h2>
    <nav aria-label="breadcrumb" class="pt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'talk_index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Playlists
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-8">
            <ol>
                {% for playlist in playlists %}
                <li>
                    <a href="{% url 'playlist_view' pk=playlist.id %}">{{ playlist }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
