[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.11"
django-reversion = "*"
django-reversion-compare = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
boto3 = "==1.21.3"
django-storages = "*"
django-crum = "*"
django-dynamic-filenames = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"
paramiko = "*"
django-crispy-forms = "*"
django-allauth = "*"
pandas = "*"
python-dotenv = "*"
django-tinymce = "*"
importlib-metadata = "*"
django-backblaze-b2 = "*"
typing-extensions = "*"
django-admin-sortable2 = "*"
django-select2 = "*"
"backports.zoneinfo" = "*"
"backports.weakref" = "*"
django-fullurl = "*"
deepgram-sdk = "*"
djangorestframework = "*"
annotate = "*"

[requires]
python_version = "3.8"
