[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-reversion = "*"
django-reversion-compare = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
boto3 = "*"
django-storages = "*"
django-crum = "*"
django-dynamic-filenames = "*"
bootstrap4 = "*"
django-bootstrap4 = "*"
paramiko = "*"
django-crispy-forms = "*"
django-taggit = "*"
django-allauth = "*"
pandas = "*"
python-dotenv = "*"
django-tinymce = "*"
importlib-metadata = "*"
django-backblaze-b2 = "*"

[requires]
python_version = "3.8"
