{% extends 'main_ui.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <nav aria-label="breadcrumb" class="pt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'site_index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'talk_index' %}">Talks</a>
            </li>
            <li class="breadcrumb-item active">
                Downloads
            </li>
        </ol>
    </nav>
    <h2 class="display">
        Bulk Download
    </h2>
    <br>
    This page offers download links for the audio and transcriptions of all talks on tmi-archive (talks can also be
    downloaded on the talk page itself). <br>
    For bulk downloading, you can obtain all talks through the <a href="/api/v1/">API</a>, or use an extension such as
    "DownThemAll!" (click
    <!-- Button trigger modal -->
    <a href="#" data-toggle="modal" data-target="#exampleModal">
        here
    </a> for instructions).

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">DownThemAll! instructions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "DownThemAll!" is a browser extension which you can use to download multiple files at once. To use
                    them on tmi-archive:
                    <ul>
                        <li>Install the extension in your browser (download links: <a
                                href="https://addons.mozilla.org/en-US/firefox/addon/downthemall/">Firefox</a>,
                            <a href="https://chrome.google.com/webstore/detail/downthemall/nljkibfhlpcnanjgbnlnbjecgicbjkge">Chrome</a>)
                        </li>
                        <li>
                            Open the menu (in FireFox, click the icon in the menu bar, in Chrome, right click on the web
                            page ->
                            "DownthemAll!")
                        </li>
                        <li>
                            Select the top option (simply called "DownthemAll!"
                        </li>
                        <li>
                            In the popup menu, deselect all filters except the Audio filter
                        </li>
                        <li>
                            Click download
                        </li>
                    </ul>
                    Note that the download page is limited to 500 talks, if you wish to download more you have to go to
                    the next
                    page (scroll to the bottom of this page) and repeat the download steps above).

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <br>

    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Talk</th>
            <th scope="col">Audio Download</th>
        </tr>
        </thead>

        {% for talk in object_list %}
            <tr>
                <td>{{ talk.title }}</td>
                {% if talk.has_audio %}
                    <td><a href="{{ talk.audio_url }}" target="_blank">download audio</a></td>
                    <td><a href="{{ talk.audio_url_original }}" target="_blank">download original audio</a></td>
                {% else %}
                    <td>No audio</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% bootstrap_pagination page_obj extra=pagination_extra %}

{% endblock %}
