{% extends 'main_ui.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

    <div class="row">
        <div class="col-md-8">
            {% if search_query %}
                <h4>Results for query "{{ search_query }}"</h4>
            {% endif %}
            <form action="{% url 'talk_index' %}" method="get" class="pb-4">
                <label>
                    <input name="q" type="text" placeholder="Search..." value="{{ search_query }}" class="form-control">
                </label>
            </form>

            <div class="list-group">
                {% for talk in object_list %}
                    <a href="{% url 'talk_view' pk=talk.id %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5> {{ talk.title }}</h5>
                        </div>
                        <p class="mb-1">{{ talk.description | striptags | truncatewords:20 | safe }}</p>
                    </a>
                {% endfor %}
            </div>
            <br>
            {% bootstrap_pagination page_obj extra=pagination_extra %}

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">The Mind Illuminated archive</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Meditation talks from Culadasa</h6>
                    <p class="card-text">tmi-archive.com contains talks from <a href="http://culadasa.com"
                                                                                target="_blank">Culadasa</a>
                        and is
                        named after his wonderful book.
                        <br>
                        <br>
                        Audio files are cleaned, and anybody can <a href="{% url 'account_signup' %}">help
                            organise</a> talks.
                        <br><br>
                        This is an early stage project, and any <a href="{% url 'contact' %}">feedback</a> or
                        participation is more than welcome.
                    </p>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
