{% extends 'main_ui.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
    <style>
        mark {
            font-weight: bold;
        }
    </style>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="{% url 'talk_index' %}" method="get">
                <div class="form-row align-items-center">
                    <div class="col-auto w-75">
                        <label class="sr-only" for="query">Search query</label>
                        <input type="text" id="query" name="q" placeholder="Search TMI talks"
                               class="form-control mb-2 w-100 form-control-lg"

                                {% if search_query %}
                               value="{{ search_query }}"
                                {% endif %}
                        >
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-lg mb-2"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if search_query %}
                <h4>Results for query "{{ search_query }}"</h4>
            {% endif %}

            <div class="list-group">
                {% for talk in object_list %}
                    <a href="{% url 'talk_view' pk=talk.id %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            {% if talk.headline %}
                                <h5>{{ talk.headline|safe }}</h5>
                            {% else %}
                                <h5> {{ talk.title }}</h5>
                            {% endif %}
                        </div>
                        <p class="mb-1">{{ talk.description | striptags | truncatewords:20 | safe }}</p>
                    </a>
                {% endfor %}
            </div>
            <br>
            {% bootstrap_pagination page_obj extra=pagination_extra %}
        </div>
    </div>
{% endblock %}
