{% extends 'main_ui.html' %}
{% load static %}
{% load fullurl %}
{% block content %}
    <nav aria-label="breadcrumb" class="pt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'site_index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'talk_index' %}">Talks</a>
            </li>
            <li class="breadcrumb-item active">
                {{ talk.title }}
            </li>
        </ol>
    </nav>
    <h1 class="display pt-2 pb-2">{{ talk.title }}</h1>

    <div class="row">
        <div class="col-md-12">
            {% if talk.has_audio %}
                <script lang="javascript">
                    {#chaptermarks#}
                    window.playerConfiguration = {
                        "options": {
                            "theme": "default",
                            "startPanels": ["EpisodeInfo", "Transcript"]
                        },
                        "extensions": {
                            "EpisodeInfo": {
                                "showOnStart": true
                            },
                            "Playlist": {
                                "showOnStart": true
                            },
                            "Transcript": {
                                "showOnStart": false
                            },
                            'Share': {
                                "disabled": true
                            },
                        },
                        "episode": {
                            "media": {
                                "mp3": "{{ audio_url }}"
                            },
                            "url": "{{ request.build_absolute_uri }}",
                            "title": "{{ talk.title }}",
                            "transcript": "//tmi-archive.com{% url 'talk_transcription' pk=talk.id %}",
                        }
                    }
                </script>
                <script class="podigee-podcast-player"
                        src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js"
                        data-configuration="playerConfiguration"></script>

            {% else %}
                There is no audio for this talk.
            {% endif %}
        </div>

    </div>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        {% if talk.description %}
                            {{ talk.description|safe }}
                            <hr>
                        {% endif %}

                        {% if talk.transcription_text %}
                            <div id="transcription">
                                <h2>Transcription</h2>
                                <div class="collapse" id="transcriptionCollapse" aria-expanded="false">
                                    {{ talk.transcription_text | safe }}

                                </div>
                                <a role="button" class="collapsed" data-toggle="collapse" href="#transcriptionCollapse"
                                   aria-expanded="false" aria-controls="collapseExample"></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <table class="table table-sm mb-3">
                {% if talk.created_at %}
                    <tr>
                        <td>Added at</td>
                        <td> {{ talk.created_at | date }}</td>
                    </tr>
                {% endif %}
                {% if talk.recorded_date %}
                    <tr>
                        <td>Recording date</td>
                        <td>{{ talk.recorded_date | date }}</td>
                    </tr>
                {% endif %}
                {% if talk.audio_length %}
                    <tr>
                        <td>Audio length</td>
                        <td>{{ talk.audio_length_formatted }}</td>
                    </tr>
                {% endif %}
                {% if talk.original_file_name %}
                    <tr>
                        <td>Original file name</td>
                        <td>{{ talk.original_file_name }}</td>
                    </tr>
                {% endif %}
            </table>
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="{% url 'talk_edit' pk=talk.id %}">Edit talk</a>
                            {% if talk.has_audio %}

                                <a class="nav-link" href="{% url 'talk_download' pk=talk.id %}">Download audio (mp3)</a>
                                <a class="nav-link" href="{% url 'talk_download_original' pk=talk.id %}">Download
                                    original
                                    audio</a>
                                {% if 'original' in request.path %}

                                    <a class="nav-link" href="{% url 'talk_view' pk=talk.id %}">
                                        Listen to cleaned audio
                                    </a>
                                {% else %}
                                    <a class="nav-link" href="{% url 'talk_view_original' pk=talk.id %}">
                                        Listen to original audio
                                    </a>
                                {% endif %}

                            {% endif %}
                        </nav>
                        <hr>
                        * Audio files are processed to reduce background noise, and provide (much) better compression. The original files are still
                        accessible through the "original" links above.
                        {% if not talk.has_cleaned_audio %}
                            <br>
                            <div class="alert alert-info">This audio does not have a cleaned file yet, you are listening
                                to the original.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #transcription #transcriptionCollapse.collapse:not(.show) {
            display: block;
            height: 3rem;
            overflow: hidden;
        }

        #transcription #transcriptionCollapse.collapsing {
            height: 3rem;
        }

        #transcription a.collapsed::after {
            content: '+ Show full transcription';
        }

        #transcription a:not(.collapsed)::after {
            content: '- Show Less';
        }
    </style>
{% endblock %}
