{% extends 'main_ui.html' %}
{% load static %}
{% load fullurl %}
{% block content %}
    <nav aria-label="breadcrumb" class="pt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'talk_index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Talk {{ talk.title }}
            </li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <h3 class="display pt-2 pb-2">{{ talk.title }}</h3>

                        {% if audio_url %}
                            <script lang="javascript">
                                {#chaptermarks#}
                                window.playerConfiguration = {
                                    "options": {
                                        "theme": "default",
                                        "startPanels": ["EpisodeInfo", "Transcript"]
                                    },
                                    "extensions": {
                                        "EpisodeInfo": {
                                            "showOnStart": true
                                        },
                                        "Playlist": {
                                            "showOnStart": true
                                        },
                                        "Transcript": {
                                            "showOnStart": true
                                        }
                                    },
                                    "episode": {
                                        "media": {
                                            "mp3": "{{ audio_url }}"
                                        },
                                        "url": "{{ request.build_absolute_uri }}",
                                        "title": "{{ talk.title }}",
                                        "transcript": "//tmi-archive.com{% url 'talk_transcription' pk=talk.id %}",
                                    }
                                }
                            </script>
                            <script class="podigee-podcast-player"
                                    src="https://cdn.podigee.com/podcast-player/javascripts/podigee-podcast-player.js"
                                    data-configuration="playerConfiguration"></script>

                        {% else %}
                            There is no audio for this talk.
                        {% endif %}

                        <hr>
                        {{ talk.description|safe }}

                        <hr>
                        <h2>Automated transcription</h2>
                        {{ talk.transcription_text | safe}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        You can edit the title and description of this talk to help us organise
                        the content and make it better searchable.
                        <br><br>
                        <a href="{% url 'talk_edit' pk=talk.id %}" class="btn btn-primary">
                            Edit talk
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
